/* 
color palette:
#75cfb8
#bbdfc8
#f0e5d8
#ffc478
#0B4F6C */

.App {
  text-align: center;
}

body {
  width: 100vw;
  background-color: #f0e5d8;
}

h1 {
  color: #75cfb8;
}

h2 {
  color: #75cfb8;
}

h3 {
  color: #ffc478;
}

.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.marker-btn img {
  width: 20px;
  height: 20px;
  background: none;
}

.event-image {
  width: 200px;
}

.map {
  margin: 20px;
  flex: 1;
  /* position:fixed;
  top: 100px;
  right: 50px; */
  /* align-items: flex-start; */
  
}

.eventList {
  margin: 20px;
  flex: 1;
}

.map-event-container {
 display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  align-items: flex-start;
}