.section {
  text-align: center;
}

.header-img {
  width: 100%;
  height: 500px;
  background: url("../images/header-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slider-img {
  width: 100%;
  height: 222px;
  background: url("../images/header-img.jpg");
  object-fit: cover;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-box {
  width: 20%;
  margin: 40px;
}

.accordion-container {
  width: 60%;
}

.accordion-container button {
  padding: 20px;
  width: 100%;
  background-color: #75cfb8;
  cursor: pointer;
}

.accordion-container button:hover {
  background-color: #ffc478;
  transition: 0.3s;
}
