.containerHoriz {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

.profile {
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 100px 100px;
  text-align: center;
  background-color: #fff;
}

.profileBtn {
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  padding: 8px 50px;
  background-color:#75cfb8;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
  margin-top: 30px;
}

.profileBtn:hover {
  background-color: #FFC478;
}

.profilePicture {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto 20px auto;
  display: block;
}

.f-form {
  padding: 50px 50px 100px;
}

.eventform {
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  max-width: 750px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 100px 100px;
  text-align: center;
  background-color: #fff;
}
  
.f-form input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-sizing: border-box;
}

.f-form input[type=file] {
  width: 100%;
  padding: 40px 20px 40px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
}

.f-form textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-sizing: border-box;
}

.f-form select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-sizing: border-box;
}

.f-form input[type=time] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-sizing: border-box;
}

.f-form input[type=date] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-sizing: border-box;
}